@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
  overflow: hidden;
  margin: 0;
  padding: auto 0;
  font-family: var(--familyR);
}

::-webkit-scrollbar{
  width: 10.94px;
}
@media (max-width: 800px) {
  
  ::-webkit-scrollbar{
    width: 6.94px;
  }
  }
::-webkit-scrollbar-thumb{
  background-color: #B6D3FF;
  border-radius: 8px;
}  
::-webkit-scrollbar-track{
  background-color: #F5F7FB;
  border-radius: 8px;
  
}

@media (max-width: 576px) {
  
::-webkit-scrollbar{
  width: 5.94px;
}
}

.titleoposite{
 opacity: 0.6;
}
.letter{
letter-spacing: 2px;
text-transform: uppercase;
}

* {
  box-sizing: border-box;
}


:root {
  --cl-balck: #000000;
  --shade-1: #FFFFFF;
  --shade-2: #F2F6FC;
  --shade-3: #BEF3C0;
  --shade-4: rgb(248 248 248);
  --shade-5: #F3F7FD;
  --shade-6: #EBF0F9;
  --shade-7: #707070;
  --shade-8: #1D2130;
  --shade-9: #0B0706;
  --primary: #3D6299;
  --danger:#FF001C;
  --info-dark: #015588;
  --tr: transparent;



   

  /* ============  FONT SIZE  =============== */
  --size12: 12px;
  --size14: 14px;
  --size15: 15px;
  --size18: 18px;
  --size16: 16px;
  --size20: 20px;
  --size24: 24px;
  --size28: 28px;
  --size48: 48px;
  --size56: 56px;
  --size64: 64px;
  /* =============  ICONS width============== */
  --icon-w18: 18px;
  --icon-w14: 14px;
  --icon-w12: 12px;
  --icon-w20: 20px;
  --icon-w22: 22px;
  --icon-w28: 28px;
  
  /* ============= MARGIN vs PADDING PX  ================ */
  --btn: 16px 32px;

  /* ========== FONT FAMILY ============= */
  --family: "Montserrat", sans-serif;
  --familyR: "Roboto" , sans-serif;
  --familyQ: 'Quicksand', sans-serif;
  
  /* ============= DISPLAY ================== */
}

@media (min-width: 1800px) {
  :root {
  --size12: 16px;
  --size14: 20px;
  --size15: 20px;
  --size16: 23px;
  --size18: 24px;
  --size20: 26px;
  --size24: 30px;
  --size28: 34px;
  --size48: 54px;
  --size56: 58px;
  --size64: 66px;
  --btn: 16px 32px;
  /* =============  ICONS width============== */
  --icon-w18: 20px;
  --icon-w14: 16px;
  --icon-w12: 14px;
  --icon-w20: 22px;
  --icon-w28: 32px;

  }
}
@media (min-width: 1440px) {
  :root {
  --size12: 16px;
  --size14: 16px;
  --size15: 19px;
  --size16: 23px;
  --size18: 22px;
  --size20: 24px;
  --size24: 28px;
  --size28: 32px;
  --size48: 52px;
  --size56: 58px;
  --size64: 66px;
  /* =============  ICONS width============== */
  --icon-w18: 20px;
  --icon-w14: 16px;
  --icon-w12: 14px;
  --icon-w20: 22px;
  --icon-w24: 26px;
  --btn: 15px 30px;
  }
}

@media (max-width: 1200px) {
  :root {  
    --size12: 12px;
    --size14: 14px;
    --size15: 15px;
    --size16: 16px;
    --size18: 17px;
    --size20: 19px;
    --size24: 22px;
    --size28: 26px;
    --size48: 40px;
    --size56: 48px;
    --size64: 58px;
    --btn: 14px 28px;
  }
}
@media (max-width: 992px) {
  :root {
    --size12: 12px;
    --size14: 13px;
    --size15: 14px;
    --size16: 15px;
    --size18: 16px;
    --size20: 17px;
    --size24: 20px;
    --size28: 25px;
    --size48: 38px;
    --size56: 44px;
    --size64: 52px;
    /* =============  ICONS width============== */
  --icon-w18: 17px;
  --icon-w14: 13px;
  --icon-w12: 11px;
  --icon-w20: 18px;
  --icon-w24: 22px;
  --btn: 12px 26px;
  }
}
@media (max-width: 810px) {
  :root {
    --size12: 11px;
    --size14: 12px;
    --size15: 13px;
    --size16: 15px;
    --size18: 16px;
    --size20: 17px;
    --size24: 20px;
    --size28: 25px;
    --size48: 38px;
    --size56: 44px;
    --size64: 52px;
    /* =============  ICONS width============== */
  --icon-w18: 17px;
  --icon-w14: 13px;
  --icon-w12: 11px;
  --icon-w20: 18px;
  --icon-w24: 22px;
  --btn: 12px 26px;
  }
}
@media (max-width: 767px) {
  :root {
    --size12: 9px;
    --size14: 10px;
    --size15: 11px;
    --size16: 12px;
    --size18: 13px;
    --size20: 14px;
    --size24: 18px;
    --size28: 20px;
    --size48: 35px;
    --size56: 40px;
    --size64: 45px;
    /* =============  ICONS width============== */
  --icon-w18: 16px;
  --icon-w14: 12px;
  --icon-w12: 10px;
  --icon-w20: 17px;
  --icon-w24: 20px;
  --btn: 10px 24px;
  }
}

@media (max-width: 576px) {
  :root {
    --size12: 9px;
    --size14: 9px;
    --size15: 10px;
    --size16: 12px;
    --size18: 12px;
    --size20: 13px;
    --size24: 16px;
    --size28: 18px;
    --size48: 24px;
    --size56: 28px;
    --size64: 32px;
    /* =============  ICONS width============== */
  --icon-w18: 14px;
  --icon-w14: 10px;
  --icon-w12: 9px;
  --icon-w20: 15px;
  --icon-w24: 18px;
  --btn: 8px 20px;
  }
}